{% extends 'mainapp/base.html'%}
{% load my_tags %}
{% block content %}
{% for object in report_list %}
<div class="row g-3 justify-content-center lenght" style="padding-top: 2rem; padding-bottom: 2rem;">
    <div class="btn-group col-4" style="width: 220px; right: 10px; position: absolute;">
        <a type="button" class="btn btn-sm btn-outline-secondary"
           href="{% url 'mainapp:report_list' %}">Мои отчеты</a>
    </div>
    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-text">Письмо к отправке - {{ object.message }}</h2>
                <h4 class="card-title">{{ object.first_sending }} - {{ object.last_sending }}</h4>
                <h5 class="card-text">Периодичность рассылки - {{ object.periodicity }}</h5>
                <h5 class="card-text">Статус рассылки - {{ object.status }}</h5>
            </div>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<section class="py-5 text-center container"><h1>ОТЧЕТЫ ПО РАССЫЛКЕ</h1>
</section>
{% for report in object.mailingreport_set.all %}
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title"><strong>Отчет №{{ forloop.counter }}</strong></h5>
            <p class="card-text" style="font-size: 1.25rem;">
                <strong>Отправлено:</strong> {{ report.last_attempt_time}}<br>
                <strong>Статус:</strong> {{ report.status }}<br>
                <strong>Ответ:</strong> {{ report.response }}
            </p>
        </div>
    </div>
{% endfor %}
{% endfor %}
{% endblock %}